---
---
@charset "utf-8";

@import "_variables";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "bower_components/neat/app/assets/stylesheets/_neat";
@import "bower_components/font-source-sans-pro/source-sans-pro";

@mixin minMedia($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max - 1px) {
        @content
    }
}

@mixin minMediaWithoutMax($min) {
    @media screen and (min-width: $min) {
        @content
    }
}

@mixin maxMedia($query) {
    @media screen and (max-width: $query) {
        @content
    }
}

@mixin gpuTransition() {
    transform: translateZ(0);
}

@import "app";
@import "about";
@import "projects";
@import "header";
@import "slider";
@import "articlesList";
@import "post";
@import "pagination";
@import "zenburn";
@import "lora/lora";
@import "mdi/mdi";
