<header>
    {% if page.url == "/" %}
        <h1>{{ site.title }}</h1>
    {% else %}
        <h1><a href="/">{{ site.title }}</a></h1>
    {% endif %}

    <div class="menu" draggable="true"
         :class="{ showIconRight: showIconRight, showIconLeft: showIconLeft }"
         @dragstart="startDragMenu"
         @mousemove="moveMenu"
         @mouseup="stopDragMenu"
         @mouseleave="stopDragMenu">
        <button class="item mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-index="0"
             v-el:tab0
             @click="changeTab">
            Projects
        </button>
        <button class="item mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-index="1"
             v-el:tab1
             @click="changeTab">
            Articles
        </button>
        <button class="item mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-index="2"
             v-el:tab2
             @click="changeTab">
            About / Resume
        </button>
        <div class="underline"
             v-el:underline></div>
    </div>
</header>
