// Main
$mainColor: #111;
$scrollbarSize: 5px;
$scrollbarThumb: rgba(0, 0, 0, 0.3);
$scrollbarBackground: transparent;
$sourceSans: 'Source Sans Pro', sans-serif;
$lora: 'Lora', Georgia, serif;

// Header
$itemsBorderColor: #1abc9c;
$itemsBorderHeight: 4px;
$itemsMargin: 1.78rem;
$itemsHeaderPadding: 1.07rem;
$itemsHeight: 3.57rem;

$mainBackgroundColor: #0d3745;

$menuHeight: 134px;
$menuFontFamily: $sourceSans;
$menuBorder: 1px solid rgba(255, 255, 255, 0.6);
$menuColor: #fff;
$menuFontSize: 0.92rem;
$menuFontWidth: 600;
$menuPadding: 2.14rem 2.14rem 0 2.14rem;

$nameWeight: 200;
$nameSize: 2.28rem;
$namePadding: 0.71rem;

// Articles/Projects
$itemsPadding: 0 20px;
$itemPadding: 20px 0;
$itemButtonIconColor: #444;
$itemTitleSize: 2rem;
$itemTitleWeight: 200;
$itemTitlePadding: 5px 20px;
$itemTextSize: 1rem;
$noArticlesFontSize: 1.8rem;

// Projects
$projectsHeaderHeight: 150px;

// Tags
$tagsBottom: 15px;
$tagsRadius: .25rem;
$tagsColor: #fff;
$tagsSize: .75rem;
$tagsWeight: 700;
$tagsPadding: .2rem .6rem .2rem;

// Posts
$newTopMain: 65px;
$postContentPadding: 10px;
$cardRadius: 2px;
$cardMargin: 25px auto 0;
$cardPadding: 30px 56px;
$codeMargin: 10px 0;
$articleFont: $lora;
$articleFontSize: 17px;
$articleLineHeight: 28px;
$articleLinkColor: #3f51b5;
$articleMarginBottom: 40px;
$articleTitleFontSize: 3rem;
$cardPaddingSmallScreen: 30px 28px;
$articleH2Size: 2rem;
$articleH3Size: 1.8rem;

// About
$aboutColor: #444;
$aboutFontFamily: $lora;
$aboutFontSize: 17px;
$aboutLineHeight: 28px;
$cvBackground: $itemsBorderColor;
$cvForeground: $menuColor;

$SourceSansProPath: "../assets/bower_components/font-source-sans-pro";

$sm: 768px;
$md: 992px;
$lg: 1200px;

$curve: cubic-bezier(0, 0, 0.2, 1);
