.nojs .cv {
    display: none;
}

.cv {
    .mdl-card {
        padding: 25px;
    }

    .mdl-card .mdl-card__supporting-text.excerpt {
        color: $aboutColor;
        font-family: $aboutFontFamily !important;
        font-size: $aboutFontSize !important;
        line-height: $aboutLineHeight;
        max-width: 1024px;
        text-align: justify;
        width: 100%;
    }

    a.mdl-button {
        background-color: $cvBackground;
        color: $cvForeground;
        text-decoration: none;
        width: calc(50% - 2.5px);
        font-weight: 700;
    }

    a.mdl-button:hover, a.mdl-button:active {
        background-color: tint($cvBackground, 10%);
    }

    a.mdl-button:focus {
        background-color: shade($cvBackground, 10%);
    }
}

@include minMedia(0, 555px) {
    .cv a {
        width: 100%;
    }

    .cv a:not(.last) {
        margin-bottom: 10px;
    }
}
