.nojs .articles {
    display: none;
}

.articles {
    .articles-page:first-child {
        display: block;
    }

    h4 {
        color: $aboutColor;
        font-family: $aboutFontFamily;
        font-size: $noArticlesFontSize;
        text-align: center;
    }

    .articles-page {
        display: none;
        width: 100%;

        @include transition(max-height .2s ease);
    }

    .article {
        padding: $itemPadding;
        float: left;
        width: 100%;
        @include omega(1n);

        .mdl-card {
            width: 100%;

            .mdl-card__title {
                padding-bottom: 0;
            }

            h2 {
                font-weight: $itemTitleWeight;
                font-family: $menuFontFamily;
                font-size: $itemTitleSize;

                .post-date {
                    color: $articlesDateColor;
                    font-size: $articlesDateFontSize;
                    padding-top: 4px;
                }
            }

            .material-icons {
                color: $itemButtonIconColor;
            }

            .mdl-card__supporting-text {
                font-size: $itemTextSize;
            }

            .mdl-card__supporting-text.excerpt > p {
                font-family: $articleFont;
                font-size: $articleFontSize;
                line-height: $articleLineHeight;
            }
        }
    }

    .article:nth-child(1n) {
        padding-left: 10px;
    }

    .article:nth-child(1n + 1) {
        padding-right: 10px;
    }
}

@include minMediaWithoutMax($lg) {
    .slider .content .page.articles {
        .article {
            left: -512px;
            margin-left: 50%;
            max-width: 1024px;
            position: relative;
        }
    }
}
