.nojs .underline {
    display: none;
}

header {
    background-color: $mainBackgroundColor;
    box-sizing: border-box;
    color: $menuColor;
    height: $menuHeight;
    padding: $menuPadding;

    h1 {
        border-bottom: $menuBorder;
        font-family: $menuFontFamily;
        font-size: $nameSize;
        font-weight: $nameWeight;
        margin: 0;
        padding-bottom: $namePadding;

        a {
            color: inherit;
            font-weight: inherit;
            text-decoration: none;
        }
    }

    .menu {
        height: $itemsHeight;
        white-space: nowrap;
        overflow: hidden;

        .item {
            color: $menuColor;
            cursor: pointer;
            display: inline-block;
            font-family: $menuFontFamily;
            font-size: $menuFontSize;
            font-weight: $menuFontWidth;
            height: $itemsHeight;
            letter-spacing: 2px;
            line-height: $itemsHeight;
            padding: 0 $itemsHeaderPadding;
            text-align: center;
            text-transform: uppercase;
        }

        .item:not(:first-child) {
            margin-left: $itemsMargin;
        }

        .underline {
            background-color: $itemsBorderColor;
            height: $itemsBorderHeight;
            position: relative;
            top: -1 * $itemsBorderHeight + 1px;
            @include transition(left .2s $curve, width .2s $curve);
        }
    }
}

@include minMedia(0px, 479px) {
    .menu.showIconLeft:before {
        content: 'keyboard_arrow_left';

        position: absolute;
        margin-top: 13px;
        left: 10px;

        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    .menu.showIconRight:after {
        content: 'keyboard_arrow_right';

        position: absolute;
        margin-top: -40px;
        right: 5px;

        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        width: 25px;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
}
