.projects {
    @include outer-container;
    padding: $itemsPadding;

    .project {
        height: 398px;
        padding: $itemPadding;

        .mdl-card {
            height: 100%;
            width: auto;

            .tags {
                margin-bottom: $tagsBottom;

                .tag {
                    background-color: $itemsBorderColor;
                    border-radius: $tagsRadius;
                    color: $tagsColor;
                    font-size: $tagsSize;
                    font-weight: $tagsWeight;
                    line-height: 1;
                    padding: $tagsPadding;
                    text-align: center;
                    vertical-align: baseline;
                    white-space: nowrap;
                }
            }

            .mdl-card__title {
                height: $projectsHeaderHeight;
            }

            h2 {
                font-weight: $itemTitleWeight;
                font-family: $menuFontFamily;
                font-size: $itemTitleSize;
                padding: $itemTitlePadding;
            }

            .mdl-card__supporting-text {
                font-size: $itemTextSize;
                text-align: justify;
            }
        }

        svg {
            position: relative;
            top: -1px;
        }
    }
}

@include minMedia(0, $sm) {
    .projects .project {
        @include span-columns(12);
        @include omega(1n);
    }
}

@include minMedia($sm, $md) {
    .projects .project {
        @include span-columns(6);
        @include omega(2n);
    }
}

@include minMedia($md, $lg) {
    .projects .project {
        @include span-columns(4);
        @include omega(3n);
    }
}

@include minMediaWithoutMax($lg) {
    .projects .project {
        @include span-columns(3);
        @include omega(4n);
    }
}
