@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src:
        url(/assets/lora/Lora_400.eot?#iefix) format('embedded-opentype'),
        url(/assets/lora/Lora_400.woff) format('woff'),
        url(/assets/lora/Lora_400.svg#Lora) format('svg'),
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src:
        url(/assets/lora/Lora_400italic.eot?#iefix) format('embedded-opentype'),
        url(/assets/lora/Lora_400italic.woff) format('woff'),
        url(/assets/lora/Lora_400italic.svg#Lora) format('svg'),
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src:
        url(/assets/lora/Lora_700.eot?#iefix) format('embedded-opentype'),
        url(/assets/lora/Lora_700.woff) format('woff'),
        url(/assets/lora/Lora_700.svg#Lora) format('svg'),
}

