<!DOCTYPE html>
<html class="nojs">
    {% include head.html %}
    <body>
        {% include header.html %}

        {{ content }}

        <script defer src="/assets/bower_components/system.js/dist/system.js"></script>
        <script defer>
            function loadStyleSheet (src) {
                if (document.createStyleSheet) {
                    document.createStyleSheet(src);
                } else {
                    var stylesheet  = document.createElement('link');
                    stylesheet.href = src;
                    stylesheet.rel  = 'stylesheet';
                    stylesheet.type = 'text/css';
                    document.getElementsByTagName('head')[0].appendChild(stylesheet);
                }
            }

            loadStyleSheet('/assets/bower_components/material-design-lite/material.min.css');
            loadStyleSheet('{{ "/css/main.css" | prepend: site.baseurl }}');

            /* global System */
            System.config({
                baseURL   : '/assets/js',
                map       : {
                    traceur: '/assets/bower_components/traceur/traceur.js',
                    json   : '/assets/bower_components/plugin-json/json.js'
                },
                transpiler: 'traceur',
                globalEvaluationScope: false
            });

            System.import('main.js');
        </script>
    </body>
</html>
