// Main
$mainColor: #111;
$scrollbarSize: 5px;
$scrollbarThumb: rgba(0, 0, 0, 0.3);
$scrollbarBackground: transparent;
$mainPadding: 15px;
$sourceSansPro: 'SourceSansPro', sans-serif;
$lora: 'Lora', serif;

$sm: 768px;
$md: 992px;
$lg: 1200px;

$transitionDefaultDuration: 0.2s;
$transitionDefaultCurve: cubic-bezier(0, 0, 0.2, 1);

// Header
$itemsBorderColor: #148f77;
$itemsBorderHeight: 4px;
$itemsHeaderPadding: 16px;
$itemsHeight: 57px;

$mainBackgroundColor: #0d3745;

$menuHeight: 134px;
$menuBorder: 1px solid rgba(255, 255, 255, 0.6);
$menuColor: #fff;
$menuFontSize: 15px;
$menuPadding: 30px 30px 0 30px;

$nameSize: 32px;
$namePadding: 11px;

// Articles
$articlesDateColor: #666;
$articlesDateFontSize: 24px;

// Projects
$projectsPaddingBottom: 20px;
$projectsHeaderPadding: 24px;
$projectsHeaderHeight: 150px;
$projectsMargin: 10px;
$projectsTitlePadding: 5px 20px;
$projectsTitleSize: 32px;
$projectsInfosPadding: 16px;
$projectsInfosColor: rgba(0, 0, 0, 0.6);
$projectsButtonIconColor: #0d3745;
$projectsButtonTextColor: #0d3745;
$projectsButtonTextSize: 16px;

// Tags
$tagsBottom: 15px;
$tagsRadius: 4px;
$tagsColor: #fff;
$tagsMargin: 2px;
$tagsSize: .75rem;
$tagsWeight: 700;
$tagsPadding: 3px 10px 3px;

// Posts
$newTopMain: 65px;
$postContentPadding: 10px;
$cardRadius: 2px;
$cardMargin: 25px auto 0;
$cardPadding: 30px 56px;
$codeMargin: 10px 0;
$articleFontSize: 17px;
$articleLineHeight: 28px;
$articleLinkColor: #3f51b5;
$articleMarginBottom: 40px;
$articleTitleFontSize: 48px;
$cardPaddingSmallScreen: 30px 28px;
$articleH2Size: 32px;
$articleH3Size: 30px;

// About
$aboutColor: #444;
$aboutFontSize: 17px;
$aboutLineHeight: 28px;
$cvBackground: $itemsBorderColor;
$cvForeground: $menuColor;

// Mixins
@mixin minMedia($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max - 1px) {
    @content
  }
}

@mixin minMediaWithoutMax($min) {
  @media screen and (min-width: $min) {
    @content
  }
}

@mixin maxMedia($query) {
  @media screen and (max-width: $query) {
    @content
  }
}

// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
      content: ' ';
      display: table;
  }

  &:after {
      clear: both;
  }

  & {
      *zoom: 1;
  }
}

// Transitions
@mixin gpuTransition() {
  transform: translateZ(0);
}

@mixin transition($transitions...) {
  $unfoldedTransitions: ();
  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
  }

  transition: $unfoldedTransitions;
}

@function unfoldTransition ($transition) {
  // Default values
  $defaultProperties: (all, $transitionDefaultDuration, $transitionDefaultCurve, null);

  // Grab transition properties if they exist
  $unfoldedTransition: ();
  @for $i from 1 through length($defaultProperties) {
    $p: null;
    @if $i <= length($transition) {
      $p: nth($transition, $i)
    } @else {
      $p: nth($defaultProperties, $i)
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}
