// Main
$mainColor: #111;
$scrollbarSize: 5px;
$scrollbarThumb: rgba(0, 0, 0, 0.3);
$scrollbarBackground: transparent;
$sourceSans: 'Source Sans Pro', sans-serif;
$lora: 'Lora', Georgia, serif;

$sm: 768px;
$md: 992px;
$lg: 1200px;

$transitionDefaultDuration: 0.2s;
$transitionDefaultCurve: cubic-bezier(0, 0, 0.2, 1);

// Header
$itemsBorderColor: #1abc9c;
$itemsBorderHeight: 4px;
$itemsMargin: 1.78rem;
$itemsHeaderPadding: 1.07rem;
$itemsHeight: 3.57rem;

$mainBackgroundColor: #0d3745;

$menuHeight: 134px;
$menuFontFamily: $sourceSans;
$menuBorder: 1px solid rgba(255, 255, 255, 0.6);
$menuColor: #fff;
$menuFontSize: 0.92rem;
$menuFontWidth: 600;
$menuPadding: 30px 30px 0 30px;

$nameWeight: 200;
$nameSize: 32px;
$namePadding: 0.71rem;

// Articles & Projects
$itemsPadding: 0 20px;
$itemPadding: 20px 0;
$itemButtonIconColor: #444;
$itemTitleSize: 2rem;
$itemTitleWeight: 200;
$itemTitlePadding: 5px 20px;
$itemTextSize: 1rem;
$noArticlesFontSize: 1.8rem;
$articlesDateColor: #666;
$articlesDateFontSize: 1.5rem;

// Projects
$projectsHeaderHeight: 150px;

// Tags
$tagsBottom: 15px;
$tagsRadius: .25rem;
$tagsColor: #fff;
$tagsSize: .75rem;
$tagsWeight: 700;
$tagsPadding: .2rem .6rem .2rem;

// Posts
$newTopMain: 65px;
$postContentPadding: 10px;
$cardRadius: 2px;
$cardMargin: 25px auto 0;
$cardPadding: 30px 56px;
$codeMargin: 10px 0;
$articleFont: $lora;
$articleFontSize: 17px;
$articleLineHeight: 28px;
$articleLinkColor: #3f51b5;
$articleMarginBottom: 40px;
$articleTitleFontSize: 3rem;
$cardPaddingSmallScreen: 30px 28px;
$articleH2Size: 2rem;
$articleH3Size: 1.8rem;

// About
$aboutColor: #444;
$aboutFontFamily: $lora;
$aboutFontSize: 17px;
$aboutLineHeight: 28px;
$cvBackground: $itemsBorderColor;
$cvForeground: $menuColor;

// Mixins
@mixin minMedia($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max - 1px) {
    @content
  }
}

@mixin minMediaWithoutMax($min) {
  @media screen and (min-width: $min) {
    @content
  }
}

@mixin maxMedia($query) {
  @media screen and (max-width: $query) {
    @content
  }
}

@mixin gpuTransition() {
  transform: translateZ(0);
}

@mixin transition($transitions...) {
  $unfoldedTransitions: ();
  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
  }

  transition: $unfoldedTransitions;
}

@function unfoldTransition ($transition) {
  // Default values
  $defaultProperties: (all, $transitionDefaultDuration, $transitionDefaultCurve, null);

  // Grab transition properties if they exist
  $unfoldedTransition: ();
  @for $i from 1 through length($defaultProperties) {
    $p: null;
    @if $i <= length($transition) {
      $p: nth($transition, $i)
    } @else {
      $p: nth($defaultProperties, $i)
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}
